body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #253F83;
}

/* Custom CSS for specific sections */
.header {
  background-color: #253F83;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero {
  background: #000;
  color: #fff;
}

.btn-get-started {
  background-color: #007bff;
  color: #fff;
}

.clients .swiper-slide img {
  width: 100%;
  height: auto;
}
